body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

header {
    background: #1abc9c;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 22px;
}

.container {
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #3498db;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #2980b9;
}

.logout {
    background: #e74c3c;
}

.logout:hover {
    background: #c0392b;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.half {
    flex: 1;
    min-width: 250px;
}

.leaderboard-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

/* Mobile Responsive */
@media(max-width: 768px) {
    .flex {
        flex-direction: column;
    }
    .dark {
    background: #1e1e1e;
    color: white;
}

.dark .card {
    background: #2c2c2c;
    color: white;
}

.dark input, 
.dark select {
    background: #3c3c3c;
    color: white;
    border: 1px solid #555;
}
}